POSTGRES_DB=tasks_db
POSTGRES_USER=postgres
SUPABASE_URL=https://jhfstwmsgdyvbxuegwpw.supabase.co
SUPABASE_KEY=sb_publishable_GE-JflMlQWygw1TtgudHNg_FUJaqNAR
POSTGRES_PASSWORD=546132798
POSTGRES_HOST=db
POSTGRES_PORT=5432
PORT=8000
LLM_BASE_URL=http://localhost:11434/v1
LLM_API_KEY=ollama
LLM_MODEL=llama3.2:3b